@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
}

@theme {
  --color-gray-900: #050505;
  --color-gray-800: #141414;
  --color-gray-700: #212328;
  --color-gray-600: #30333a;
  --color-gray-500: #9095a1;
  --color-gray-400: #ccdadc;
  --color-yellow-400: #fdd458;
  --color-yellow-500: #e8ba40;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-gray-900 text-foreground antialiased;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-screen-2xl px-4 md:px-6 lg:px-8;
  }

  .header {
    @apply sticky top-0 z-50 h-[70px] w-full bg-gray-800;
  }

  .header-wrapper {
    @apply flex items-center justify-between px-6 py-4 text-gray-500;
  }

  .nav-list {
    @apply flex flex-col gap-3 p-2 font-medium sm:flex-row sm:gap-10;
  }

  .search-text {
    @apply hover:text-yellow-500;
  }

  .footer-link {
    @apply font-medium text-gray-400 transition-colors hover:text-yellow-400 hover:underline;
  }

  .home-wrapper {
    @apply flex-col items-center gap-4 text-gray-400 sm:items-start;
  }

  .home-section {
    @apply grid w-full grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3;
  }

  .auth-layout {
    @apply relative flex h-screen flex-col overflow-hidden bg-gray-900 lg:flex-row;
  }

  .auth-logo {
    @apply mb-8 pt-6 lg:mb-12 lg:pt-8;
  }

  .auth-left-section {
    @apply flex w-full flex-col overflow-y-auto px-6 lg:h-screen lg:w-[45%] lg:px-16;
  }

  .auth-right-section {
    @apply flex w-full flex-col justify-start border-gray-600 px-6 py-4 max-lg:border-t md:p-6 lg:h-screen lg:w-[55%] lg:px-18 lg:py-12;
  }

  .auth-blockquote {
    @apply mb-1 text-sm font-medium text-gray-400 md:mb-6 md:text-xl lg:mb-8 lg:text-2xl;
  }

  .auth-testimonial-author {
    @apply text-xs font-bold not-italic text-gray-400 md:text-lg;
  }

  .form-title {
    @apply mb-10 text-4xl font-bold text-gray-400;
  }

  .form-label {
    @apply text-sm font-medium text-gray-400;
  }

  .form-input {
    @apply h-12 rounded-lg border-gray-600 bg-gray-800 text-gray-400 placeholder:text-gray-500 focus-visible:border-yellow-500 focus-visible:ring-yellow-500/20;
  }

  .yellow-btn {
    @apply h-12 cursor-pointer rounded-lg bg-gradient-to-b from-yellow-400 to-yellow-500 text-base font-medium text-gray-950 shadow-lg hover:from-yellow-500 hover:to-yellow-400 disabled:opacity-50;
  }

  .stock-details-container {
    @apply grid w-full grid-cols-1 gap-6 space-y-6 sm:space-y-8 xl:grid-cols-3;
  }

  .watchlist-empty-container {
    @apply container flex flex-col items-center gap-8 p-6 text-center md:mt-10;
  }

  .watchlist-empty {
    @apply flex flex-col items-center justify-center text-center;
  }

  .empty-title {
    @apply mb-2 text-xl font-semibold text-gray-400;
  }

  .empty-description {
    @apply mb-6 max-w-md text-gray-500;
  }
}

.scrollbar-hide-default {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-hide-default::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-hide-default::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.scrollbar-hide-default:hover {
  scrollbar-color: #30333a transparent;
}

.scrollbar-hide-default:hover::-webkit-scrollbar-thumb {
  background-color: #30333a;
}
